{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div>
    <h1>Hello <span><a href="https://devopswithdocker.com" target="_blank" rel="noopener noreferrer">DevOps with Docker 2023</a></span>!</h1>
</div>
{% endblock %}
